@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';



/* width */
::-webkit-scrollbar {
  width: 3px;
  background: $ms-color-white;
}

/* Track */
::-webkit-scrollbar-track {
  background: $ms-color-white; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:  $ms-color-white; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $ms-color-themePrimary 
}

.tabsRow  {
  white-space: nowrap;
 // overflow: scroll;
 // overflow-y: auto;
}

.tabsRow > div {
  display: inline-block;
}

.listTab {
  max-width: 75 px;
  width: 75 px;
}

.listTabSelected {
  max-width: 75 px;
  width: 75 px;
  background-color: rgb(214, 214, 214)
}

.deleteTab {
  max-width: 5 px;
  width: 5 px;
}

.addTab {
  right: 0;
}

.title {
  @include ms-font-xxl;
  cursor: pointer;
  text-decoration: none;
}

.listView {

  .ms-DetailsListAdvancedExample {
    .ms-CommandBar {
      margin-bottom: 40px;
    }
  }

  .ms-CommandBar {
    margin-bottom: 40px;
    cursor: pointer;
  }

  .ms-DetailsRow-cell .ms-Link {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }

  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }
  

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: $ms-color-themeDark;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }
}
